<!DOCTYPE html>
<html>
    <head>
        <title>Direction Annotator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <style type="text/css">
            html, body {
                margin: 0;
                height: 100%;
                overflow: hidden
            }

            .container {
                height: 100%;
                width: auto;
                margin: auto;
            }

            .center {
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .flex-row {
                display: flex;
                flex-direction: column;
            }

            .flex-col {
                display: flex;
                flex-direction: column;
            }

            .file-input {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .ctrl-btn {
                margin: 4px;
            }

            #img-viewer {
                height: 80vh;
                width: auto;
                object-fit: contain;
            }

            table.arrows {
                background-color: white;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .cell-arrow {
                background-color: white;
                border: 1px solid lightgray;
                width: 128px;
                height: 128px;
                padding: 10px;
                text-align: center;
                user-select: none;
                font-size: 4.5em;
                font-family: "";
            }

            .cell-arrow:hover {
                background-color: lightgray;
            }

            .cell-arrow:active {
                background-color: gray;
            }

            .cell-arrow.prev {
                background-color: lightskyblue;
            }

            .btn-danger.prev {
                background-color: darkblue;
            }

            .cell-emoji {
                border: 1px solid lightgray;
                width: 144px;
                height: 128px;
                padding: 10px;
                text-align: center;
                user-select: none;
            }

            span.emoji {
                font-size: 4.5em;
                font-family: "";
            }

            .cell-emoji:hover {
                background-color: lightgray;
            }

            .cell-emoji:active {
                background-color: gray;
            }

            .cell-emoji.on {
                background-color: darkgray;
                font-weight: bold;
            }

            .hidden {
                display: none;
            }
        </style>
    </head>
    <body class="row">
        <div class="container center flex-col col-sm-6">
            <img id="img-viewer" class="img-responsive c1" src={{ fname }}/>
            <br />
            <p class="lead">
                <span id="img-label">{{ fname }}</span><br />
                <span><span id="img-count">{{ curr_count }}</span> / {{ total_count }}</span>
            </p>
        </div>
        <div class="container center flex-col col-sm-6">
            <select id="conf-select" name="confidence" class="hidden">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
            <table class="arrows">
                <tr>
                    <td class="cell-emoji conf-input" value=1><span class="emoji">&#128543</span><br />Uncertain</td>
                    <td class="cell-emoji conf-input on" value=2><span class="emoji">&#128578</span><br />Confident</td>
                    <td class="cell-emoji conf-input" value=3><span class="emoji">&#128512</span><br />Very Confident</td>
                </tr>
            </table>
            <table class="arrows">
                <tr>
                    <td class="cell-arrow dir-input" value=8>&#8598</td>
                    <td class="cell-arrow dir-input" value=1>&uarr;</td>
                    <td class="cell-arrow dir-input" value=2>&#8599</td>
                </tr>
                <tr>
                    <td class="cell-arrow dir-input" value=7>&larr;</td>
                    <td></td>
                    <td class="cell-arrow dir-input" value=3>&rarr;</td>
                </tr>
                <tr>
                    <td class="cell-arrow dir-input" value=6>&#8601</td>
                    <td class="cell-arrow dir-input" value=5>&darr;</td>
                    <td class="cell-arrow dir-input" value=4>&#8600</td>
                </tr>
            </table>
            <div class="flex-row center">
                <button type="button" class="btn btn-warning ctrl-btn nav-input" value=-1>Prev</button>
                <button type="button" class="btn btn-danger ctrl-btn dir-input" value=-1>Discard</button>
                <button type="button" class="btn btn-warning ctrl-btn nav-input" value=1>Next</button>
            </div>
        </div>

        <script>
            let confidenceButtons = document.getElementsByClassName("conf-input")
            let confidenceSelect = document.getElementById("conf-select")
            confidenceSelect.value = 2  // Mid confidence

            for (let i = 0; i < confidenceButtons.length; i++) {
                confidenceButtons[i].addEventListener('click', (e) => {
                    let currSelected = e.target
                    if (!e.target.getAttribute("value")) {  // If emoji is clicked, no value in e.target
                        currSelected = e.target.parentElement
                    }

                    confidenceButtons[confidenceSelect.value - 1].classList.remove("on")
                    confidenceSelect.value = currSelected.getAttribute("value")
                    currSelected.classList.add("on")
                })
            }

            let arrows = document.getElementsByClassName("dir-input")

            let setNewImage = data => {
                document.getElementById("img-viewer").setAttribute("src", data.fname)
                document.getElementById("img-label").innerHTML = data.fname
                document.getElementById("img-count").innerHTML = data.curr_count

                for (let i = 0; i < arrows.length; i++) {
                    arrows[i].classList.remove("prev")
                }

                let arrow_dir_idx_map = {
                    "-1": 8,
                    "1": 1,
                    "2": 2,
                    "3": 4,
                    "4": 7,
                    "5": 6,
                    "6": 5,
                    "7": 3,
                    "8": 0
                }

                if (data.dir != 0) {
                    arrows[arrow_dir_idx_map[data.dir]].classList.add("prev")
                }

                if (data.conf != 0) {
                    confidenceButtons[confidenceSelect.value - 1].classList.remove("on")
                    confidenceSelect.value = data.conf
                    confidenceButtons[data.conf - 1].classList.add("on")
                }
            }
            setNewImage({   // Init, set by flask template
                "fname": "{{ fname }}",
                "dir": {{ dir }},
                "conf": {{ conf }},
                "curr_count": {{ curr_count }}
            })

            for (let i = 0; i < arrows.length; i++) {
                arrows[i].addEventListener('click', (e) => {
                    fetch("/set", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "dir": e.target.getAttribute("value"),
                            "conf": document.getElementById("conf-select").value
                        })
                    })
                    .then(response => response.json())
                    .then(setNewImage)
                    .catch((error) => {
                        console.error('Error:', error);
                        alert(error)
                    });
                })
            }

            let navButtons = document.getElementsByClassName("nav-input")
            for (let i = 0; i < navButtons.length; i++) {
                navButtons[i].addEventListener("click", (e) => {
                    fetch("/nav?nav=" + e.target.getAttribute("value"))
                    .then(response => response.json())
                    .then(setNewImage)
                    .catch((error) => {
                        console.error('Error:', error);
                        alert(error)
                    });
                })
            }
        </script>
    </body>
</html>